@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* ---------------------------------
    common styles or utilities  
-------------------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-color: #FF900E;
    --secondary-color: #727272;
    --tertiary-color: #FFF4E7;
    --dark-color: #131313;
    --light-color: #fff;
}

.wrapper {
    max-width: 1200px;
    margin-inline: auto;
}

img {
    width: 100%;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    /* line-height: 23px; */
    text-align: center;
    color: #FFFFFF;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark-color);
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 40px;
}

/* -------------------
    header styles  
------------------------*/
/* navbar  */
header {
    background: var(--tertiary-color);
    padding-block: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--tertiary-color);
}

.navbar .logo {
    font-weight: 700;
    font-size: 45px;
    /* line-height: 53px; */
    color: var(--dark-color);
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-menu .nav-link {
    font-weight: 500;
    font-size: 18px;
    /* line-height: 26px; */
    color: #424242;
}

#check {
    display: none;
}

.checkBtn {
    font-size: 24px;
    color: #424242;
    display: none;
}

/*-----------------
    header hero  
-------------------*/
.hero-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.hero-content {
    text-align: center;
    margin-bottom: 50px;
    max-width: 862px;
    margin-inline: auto;
}

.hero-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--dark-color);
}

/* ---------------------------
    feature list section 
------------------------------*/
.feature-list {
    padding: 85px 0 130px 0;
    display: flex;
    align-items: center;
    gap: 73px;
}

.feature-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-list-content .description {
    max-width: 537px;
}

/*---------------------------------
    all feature section styles  
------------------------------------*/
.all-feature-section {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.all-feature-content,
.all-feature-section .all-feature-img {
    flex: 1;
}


.all-feature-content .section-title {
    border-left: 5px solid var(--primary-color);
    padding-left: 20px;
}

.all-feature-content .description {
    margin-bottom: 30px;
    max-width: 514px;
}

.all-feature-img {
    position: relative;
}

.experience {
    position: absolute;
    bottom: -50px;
    left: -50px;
    display: inline-block;
    color: var(--light-color);
    background: var(--primary-color);
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
    border-radius: 8px;
    padding: 30px 35px;
    text-align: center;
}

.experience span {
    font-weight: 500;
    font-size: 20px;
}

.feature-box {
    margin-bottom: 50px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-color);
}

.feature-box .description {
    margin-top: 10px;
    margin-bottom: 0px;
}

/*---------------------------
    about us section styles
-------------------------------*/
.about-us {
    padding-block: 130px;
}

.about-us .section-title {
    margin-bottom: 20px;
}

.about-us .description {
    margin-bottom: 100px;
    max-width: 542px;
}

.about-us-content-container {
    display: flex;
    justify-content: space-around;
}

.about-us-content {
    padding: 45px 35px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    transform: scale(1);
    transition: 0.3s;
}

.about-us-content:hover {
    transform: scale(1.2);
}

.about-us-content img {
    width: 45px;
    height: 45px;
}

.about-us-content h4 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}

.about-us-content span {
    font-weight: 600;
    font-size: 20px;
    color: var(--secondary-color);
}

/*---------------------
    bonus section  
------------------------*/
.services {
    margin-bottom: 100px;
}

.services .section-title {
    margin-bottom: 30px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.service-content h3 {
    margin-top: 10px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.service-content h3:hover {
    color: var(--primary-color);
}

.service-content h3 i {
    font-size: 14px;

}

/*--------------------------
    sponsor section styles  
----------------------------*/
.sponsor-section .section-title,
.sponsor-section .description {
    text-align: center;
}

.sponsor-section .description {
    max-width: 540px;
    margin-inline: auto;
}

.sponsor-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150px;
}

.sponsor-content img {
    width: 100%;
    filter: grayscale(1);
}

/*------------
    footer  
--------------*/
footer {
    background: var(--tertiary-color);
    margin-block: 130px;
    margin-bottom: 50px;
    padding-block: 38px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    border-radius: 8px;
}

/* -------------------
    Media Queries  
----------------------*/

/* Mobile Devices  */
@media screen and (max-width: 576px) {

    /* ------------------------
    common utilities  Mobile
------------------------------*/
    .section-title {
        font-size: 30px;
        line-height: 35px;
    }

    .description {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .primary-btn {
        font-size: 14px;
        padding: 12px 18px;
    }

    /*---------------
    navbar  mobile
--------------------*/
    .wrapper {
        padding-inline: 10px;
    }

    .navbar .logo {
        font-size: 25px;
    }

    .nav-menu {
        display: block;
        position: fixed;
        top: 0px;
        right: -100%;
        width: 50%;
        height: 100vh;
        background-color: #424242;
        text-align: left;
        padding-left: 20px;
        transition: all .5s;
        z-index: 999;
        padding-top: 50px;
    }

    #check:checked~.nav-menu {
        right: 0;

    }

    .nav-menu .nav-item {
        margin-block: 50px;
    }

    .nav-menu .nav-link {
        color: var(--light-color);
    }

    .checkBtn {
        font-size: 20px;
        display: initial;
        cursor: pointer;
    }

    .checkBtn.xmark {
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 25px;
        color: white;
    }

    /*-------------------
    header hero  mobile
-------------------------*/
    .hero-section {
        flex-direction: column;
    }

    .hero-content {
        text-align: center;
        margin-bottom: 50px;
        max-width: 350px;
    }

    .hero-title {
        font-size: 30px;
        line-height: 35px;
    }

    /*----------------------
    feature list  mobile 
-------------------------------*/

    .feature-list {
        flex-direction: column;
    }

    .feature-list-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-list-content {
        text-align: center;
    }

    .feature-list-content .section-title {
        font-size: 30px;
        line-height: 35px;
    }

    .feature-list-content .description {
        max-width: 350px;
    }

    /*------------------------------
    all feature section  mobile  
-----------------------------------*/
    .all-feature-section {
        flex-direction: column;
        gap: 10px;
    }

    .all-feature-img {
        text-align: center;
    }

    .experience {
        position: absolute;
        left: 10%;
        bottom: 85%;
        transform: translateX(-10%);
        font-size: 25px;
        line-height: 14px;
        border-radius: 2px;
        padding: 15px 30px;
        text-align: center;
    }

    .experience span {
        font-weight: 400;
        font-size: 12px;
    }

    /*---------------------------
    about us  mobile
-------------------------------*/
    .about-us {
        padding-block: 100px;
    }

    .about-us .description {
        margin-bottom: 50px;
    }

    .about-us-content-container {
        flex-direction: column;
        gap: 20px;
    }

    .about-us-content:hover {
        transform: scale(0.8);
    }

    /*----------------------------
    bonus section  mobile
-----------------------------*/
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-content h3 {
        font-size: 16px;
    }

    .service-content h3 i {
        font-size: 12px;
    }

    /*--------------------------
    sponsor section mobile  
----------------------------*/
    .sponsor-section .section-title,
    .sponsor-section .description {
        text-align: center;
    }

    .sponsor-section .description {
        max-width: 540px;
        margin-inline: auto;
    }

    .sponsor-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 80px;
        align-content: center;
        text-align: center;
    }

    .sponsor-content img {
        width: 50%;
        margin-inline: auto;
    }

    /*----------------
    footer  mobile
---------------------*/
    footer {
        margin-top: 100px;
        margin-bottom: 20px;
        padding-block: 25px;
        font-size: 12px;
        border-radius: 0px;
    }
}

/*------------------
    Tablet Devices  
----------------------*/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .wrapper {
        padding-inline: 20px;
    }


    .navbar .logo {
        font-size: 26px;
    }

    .nav-menu {
        gap: 20px;
    }

    .nav-menu .nav-link {
        font-size: 16px;
    }

    /*----------------------
    header hero tablet 
----------------------------*/
    .hero-content {
        max-width: 700px;
    }

    .hero-title {
        font-size: 50px;
        line-height: 55px;
    }


    /*-----------------------------
    feature list section  tablet 
--------------------------------------*/

    .feature-list {
        flex-direction: column;
    }

    .feature-list-content {
        text-align: center;
    }

    .feature-list-content .description {
        max-width: 600px;
    }

    /*----------------------------
    all feature section  tablet  
----------------------------------*/
    .all-feature-section {
        flex-direction: column;
        gap: 10px;
    }

    .all-feature-content .description,
    .feature-box .description {
        max-width: 800px;
    }

    .all-feature-img {
        align-self: center;
    }

    .experience {
        position: absolute;
        left: 10%;
        bottom: 85%;
        transform: translateX(-10%);
        color: var(--light-color);
        background: var(--primary-color);
        font-size: 30px;
        line-height: 18px;
        border-radius: 3px;
        padding: 15px 30px;
        text-align: center;
    }

    .experience span {
        font-weight: 400;
        font-size: 14px;
    }

    /*-----------------
    about us  tablet
-----------------------*/
    .about-us {
        padding-block: 100px;
    }

    .about-us .description {
        margin-bottom: 50px;
    }

    .about-us-content-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .about-us-content:hover {
        transform: scale(0.8);
    }

    /*------------------------
    bonus section  tablet
-----------------------------*/
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /*--------------------------
    sponsor section tablet  
----------------------------*/
    .sponsor-section .section-title,
    .sponsor-section .description {
        text-align: center;
    }

    .sponsor-content {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .sponsor-content img {
        width: 75%;
        /* margin-inline: auto; */
    }
}